<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>성훈치킨 개업축하 쿠폰 발급</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
<div class="container">
  <h1>성훈치킨 개업축하 기념</h1>
  <p>남은 쿠폰 개수: <span id="remaining-coupons" th:text="${remainCount}"></span></p>
  <button id="get-coupon-btn" onclick="getCoupon()">쿠폰 받기</button>
  <div id="coupon-result"></div>
</div>
</body>
</html>